<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anmol.hibiscus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".NoticeboardActivity" />
        <activity android:name=".Verifyemail" />
        <activity android:name=".Verify" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".HibiscusActivity"
            android:label="@string/title_activity_hibiscus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RoseiActivity" />
        <activity android:name=".ItsActivity" />
        <activity android:name=".Hibiscus_Login"></activity>
    </application>

</manifest>